*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: Quicksand;

}

body{
    background: rgba(0, 0, 0, 0.789);
    overflow: hidden;
    overflow-y: scroll;
    color: aliceblue;
}